<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816197029801-elr38kkb38ov2pmov6tg6kbsifuc78i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816197029801-elr38kkb38ov2pmov6tg6kbsifuc78i6</string>
	<key>API_KEY</key>
	<string>AIzaSyBK73Z3d5GaV3Tv8HrjaslmZZzdhka0yLg</string>
	<key>GCM_SENDER_ID</key>
	<string>816197029801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pullPoint</string>
	<key>PROJECT_ID</key>
	<string>pull-point</string>
	<key>STORAGE_BUCKET</key>
	<string>pull-point.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816197029801:ios:7a6c755f9130e177f4feb8</string>
</dict>
</plist>